<h3>Create and Update Category</h3>
<form class="example-form shadow p-3 mb-5 bg-white rounded" [formGroup]="pet" novalidate width="100%">
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name Pet" formControlName="name" required minlength="3" maxlength="10">
        <mat-error *ngIf="pet.controls['name'].invalid && (pet.controls['name'].dirty || pet.controls['name'].touched)">
            <div *ngIf="pet.controls['name'].errors.required">Name is Required</div>
            <div *ngIf="pet.controls['name'].errors.minlength">Minium 3 Chracters are Required</div>
            <div *ngIf="pet.controls['name'].errors.maxlength">Maxium 10 Chracters are Required</div>
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Category</mat-label>
        <select matNativeControl formControlName="category" (click)="changeCategory($event)" required>
          <option *ngFor="let category of listCategory,let i = index" value="{{i}}">{{category.name}} </option>
        </select>
        <mat-error *ngIf="isValidatedCategory">Choose Category!</mat-error>
      </mat-form-field>

      
      <section class="example-section">
        <mat-label>Tags</mat-label>
        <span class="example-list-section">
          <div *ngFor="let tag of listTag,let i = index">
            <mat-checkbox  (change)="changeSelection(i)">{{tag.name}}</mat-checkbox>
          </div>
        </span>
        <mat-error *ngIf="isValidateTag">Choose Tag!</mat-error>
      </section>


      <div>
        <mat-label>Choose Image:  </mat-label>
          <input type="file" formControlName="photoUrls">
      </div>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <select matNativeControl required formControlName="status" (click)="changeStatus($event)">
          <option value="available">Available</option>
          <option value="pending">Pending</option>
          <option value="sold">Sold</option>
        </select>
        <mat-error *ngIf="isValidatedPet">Choose Status!</mat-error>
      </mat-form-field>


      <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit" (click)="addPet()" [disabled]="!pet.valid || isValidatedCategory || isValidatedPet || isValidateTag" >Submit</button>
            <!-- <button mat-raised-button color="primary" type="submit" (click)="updatePet()">Update</button> -->
            <button mat-raised-button color="warn" type="submit" (click)="back()" >Back</button>
        </div>
    </section>
</form>