
<select (change)="handleOnStatusChange($event)" (focus)="onTouched()" [disabled]="disable" (click)="checkValidationStatus()">
    <option *ngFor="let status of listStatus, let i = index" [value]="i" [selected]="isSelect(i)">{{status}}</option>
</select>
<mat-error *ngIf="isBooleanCheck">Choose Status!</mat-error>

<!-- <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <select (change)="handleOnStatusChange($event)" (focus)="onTouched()" [disabled]="disable" (click)="checkValidationStatus()">
            <option *ngFor="let status of listStatus, let i = index" [value]="i" [selected]="isSelect(i)">{{status}}</option>
        </select>
        <mat-error *ngIf="isBooleanCheck">Choose Status!</mat-error>
</mat-form-field> -->